flask==2.3.3

# --- Aşağıdakiler KASITLI olarak eski/zafiyetli versiyonlardır (SCA test amaçlı) ---
PyYAML==5.3.1        # CVE-2020-1747, CVE-2020-14343 (unsafe load)
requests==2.19.1     # CVE-2018-18074
Jinja2==2.10.1       # CVE-2019-10906
Pillow==8.1.0        # CVE-2021-25287, CVE-2021-25288 ve diğerleri
urllib3==1.24.1      # CVE-2019-11324
